/* shopping */
.shopping{
    width: 200px;   
    position: relative;
}
.shopping img{
    width: 200px;
}
.shopping::before{
    content: "1";
    font-size: 30px;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    background-color: rgb(86, 86, 86);
    border-radius: 50%;
    top: 10px;
    right: 10px;
    position: absolute;
    border: solid 8px white;
}
/* shopping */